@use "sass:map";

@import './var.scss';

$g-primary: #ff7025;
$g-primary-light: #f8b639;
$g-primary-dark: #ff4c00;
$g-primary-active: darken($g-primary, 10%);
$g-primary-fade-little: fade-out($g-primary, 0.382);
$g-primary-fade-some: fade-out($g-primary, 0.618);
$g-primary-fade-more: fade-out($g-primary, 0.759);
$g-primary-fade-lot: fade-out($g-primary, 0.9);

$g-danger: #fa5151;
$g-danger-active: darken($g-danger, 10%);
$g-danger-fade-little: fade-out($g-danger, 0.382);
$g-danger-fade-some: fade-out($g-danger, 0.618);
$g-danger-fade-lot: fade-out($g-danger, 0.9);

$options: (
  primary: $g-primary,
  primary-active: $g-primary-active,
  primary-fade-little: $g-primary-fade-little,
  primary-fade-some: $g-primary-fade-some,
  primary-fade-more: $g-primary-fade-more,
  primary-fade-lot: $g-primary-fade-lot,
  danger: $g-danger,
  danger-active: $g-danger-active,
  danger-fade-little: $g-danger-fade-little,
  danger-fade-some: $g-danger-fade-some,
  danger-fade-lot: $g-danger-fade-lot,
);

$g-surface: #fff;

$g-on-primary: #fff;
$g-on-secondary: #fff;
$g-on-danger: #fff;
$g-on-surface: #000;
$g-background: #fff;

$g-small-radius: 4px;
$g-medium-radius: 4px;
$g-large-radius: 0;
$g-font-family: -apple-system-font, 'Helvetica Neue', sans-serif;
