$--colors: (
  'primary': (
    'base': #ff7025,
  ),
  'success': (
    'base': #32a03c,
  ),
  'warning': (
    'base': #fecc22,
  ),
  'danger': (
    'base': #f0321e,
  ),
  'info': (
    'base': #64aaf6,
  ),
  'default': (
    'base': #ff7025,
  ),
);

$--types: primary, success, warning, danger, info, default;
$--sizes: large, medium, small, tiny;

@mixin set-color-type-fade($type) {
  $--colors: map.deep-merge(
    (
      $type: (
        'active': darken(map.get($--colors, $type, 'base'), 10%),
        'fade-little': fade-out(map.get($--colors, $type, 'base'), 0.382),
        'fade-some': fade-out(map.get($--colors, $type, 'base'), 0.618),
        'fade-lot': fade-out(map.get($--colors, $type, 'base'), 0.9),
      ),
    ),
    $--colors
  ) !global;
}

@each $type in $--types {
  @include set-color-type-fade($type);
}
